<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.SpuDetailDao" >
    <insert id="insertSpuDetail" parameterType="com.example.demo.pojo.SpuDetail">
        insert into tb_spu_detail(spuId, description, specifications, specTemplate)
        values(#{spuId}, #{description}, #{specifications}, #{specTemplate})
    </insert>
    <select id="selectSpuDetailById" parameterType="java.lang.Long" resultType="com.example.demo.pojo.SpuDetail">
        select * from tb_spu_detail where spuId = #{value}
    </select>
</mapper>